@font-face {
  font-family: 'SnellBT-Black';
  src: url('../fonts/snell/SnellBT-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/snell/SnellBT-Black.woff') format('woff'),
  url('../fonts/snell/SnellBT-Black.ttf')  format('truetype'),
  url('../fonts/snell/SnellBT-Black.svg#SnellBT-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Light';
  src: url('../fonts/futura/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/FuturaStd-Light.otf')  format('opentype'),
  url('../fonts/futura/FuturaStd-Light.woff') format('woff'),
  url('../fonts/futura/FuturaStd-Light.ttf')  format('truetype'),
  url('../fonts/futura/FuturaStd-Light.svg#FuturaStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Medium';
  src: url('../fonts/futura/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/FuturaStd-Medium.otf')  format('opentype'),
  url('../fonts/futura/FuturaStd-Medium.woff') format('woff'),
  url('../fonts/futura/FuturaStd-Medium.ttf')  format('truetype'),
  url('../fonts/futura/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-Heavy';
  src: url('../fonts/futura/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura/FuturaStd-Heavy.otf')  format('opentype'),
  url('../fonts/futura/FuturaStd-Heavy.woff') format('woff'),
  url('../fonts/futura/FuturaStd-Heavy.ttf')  format('truetype'),
  url('../fonts/futura/FuturaStd-Heavy.svg#FuturaStd-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Social icons
@font-face {
  font-family: 'social';
  src:  url('../fonts/social/social.eot?vy5ex6');
  src:  url('../fonts/social/social.eot?vy5ex6#iefix') format('embedded-opentype'),
  url('../fonts/social/social.ttf?vy5ex6') format('truetype'),
  url('../fonts/social/social.woff?vy5ex6') format('woff'),
  url('../fonts/social/social.svg?vy5ex6#social') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socialfacebook:before {
  content: "\e904";
}

//Natio logo
@font-face {
  font-family: 'natio';
  src: url("../fonts/natio/natio.eot?x70y3q");
  src: url("../fonts/natio/natio.eot?x70y3q#iefix") format("embedded-opentype"), url("../fonts/natio/natio.ttf?x70y3q") format("truetype"), url("../fonts/natio/natio.woff?x70y3q") format("woff"), url("../fonts/natio/natio.svg?x70y3q#natio") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="logo-"], [class*=" logo-"] {
  font-family: 'natio', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.logo-natio:before {
  content: "\e900";
}