//Cores

$color-primary: #16b68a;
$color-primary-light: #dbede2;
$primary-transparent: rgba(22, 182, 138, .8);
$color-secondary: #323644;

$text-color: #58595b;
$nav-color: rgba(50, 54, 68, .9);

//Tipografia

$text-light: 'FuturaStd-Light', sans;
$text-medium: 'FuturaStd-Medium', sans;
$text-bold: 'FuturaStd-Heavy', sans;
$text-especial: 'SnellBT-Black', sans;