.banner {
  height: 450px;
  margin-bottom: 90px;
  border-bottom: 6px solid $color-primary-light;

  @media(max-width: 480px){
    margin-bottom: 50px;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background: url("../images/slider-bg.svg");
    background-size: cover;
    z-index: 1;
  }
}

.banner__banner-sobre {
  background: url("../images/banner-sobre.jpg") no-repeat top center;
  background-size: cover;

  @media(max-width: 480px){
    background: url("../images/banner-sobre-mobile.jpg") no-repeat top right;
  }
 }

.banner__banner-especialidades {
  background: url("../images/banner-especialidades.jpg") no-repeat top center;
  background-size: cover;

  @media(max-width: 480px){
    background: url("../images/banner-especialidades-mobile.jpg") no-repeat top left;
  }
}

.banner__banner-contato {
  background: url("../images/banner-contato.jpg") no-repeat top right;
  background-size: cover;

  @media(max-width: 480px){
    background: url("../images/banner-contato-mobile.jpg") no-repeat top right;
  }
}