.navbar-nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  .navbar-nav__btn-menu {
    width: 43px;
    height: 43px;
    position: relative;
    padding-left: 17px;
    background: transparent;
    border: 0;
    outline: 0;
    display: none;
    z-index: 20;

    @media(max-width: 1024px){
      display: block;
    }

    span {
      position: absolute;
      display: block;
      z-index: 11;
      width: 25px;
      height: 3px;
      background: #fff;

      &:before {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        position: absolute;
        top: -7px;
      }

      &:after {
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        position: absolute;
        bottom: -7px;
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  transform: translatey(-3px);

  @media(max-width: 1024px){
    visibility: hidden;
    opacity: 0;
    position: absolute;
    justify-content: inherit;
    transform: unset;
    flex-direction: column;
    width: 290px;
    top: 68px;
    right: 0;
    background: $color-primary;
    z-index: 20;
    transition: .5s;
    text-align: center;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .25);
    padding: 10px 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -9px;
      right: 7px;
      z-index: 20;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 8.7px 5px;
      border-color: transparent transparent $color-primary transparent;
    }
  }

  a {
    color: #fff;
    font-family: $text-medium;
    font-size: 18px;
    text-transform: uppercase;
    transition: .5s;

    @media(max-width: 1024px){
      display: block;
      padding: 20px 0;
    }

    &:hover {
      color: $color-primary;
      text-decoration: underline;

      @media(max-width: 1024px){
        color: #fff;
      }
    }
  }

  .nav--divider {
    display: inline-block;
    background: #fff;
    width: 1px;
    height: 18px;
    margin-top: 3px;

    @media(max-width: 1024px){
      display: none;
    }
  }
}

.active-menu {
  opacity: 1;
  visibility: visible;
}

.nav a.active-link {
  color: $color-primary;

  @media(max-width: 1024px){
    color: #fff;
    background: darken($color-primary, 5%);
  }
}