.thumb {
  a {
    &:hover {
      text-decoration: underline;
      color: $color-primary;
    }
  }
}

.thumb__container {
  position: relative;
}

.thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: $primary-transparent;
  opacity: 0;
  transition: opacity .5s;

  img {
    position: absolute;
    z-index: 11;
    height: 100px;
  }
}

.thumb--active:hover .thumb__container > .thumb__overlay {
  opacity: 1;
}