//Sobre
.sobre__galeria {
  img {
    margin-bottom: 30px;
  }
}

.sobre__description {
  margin-bottom: 75px;

  h6 {
    font-size: 18px;
    font-family: $text-bold;
  }
}


//Especialidades
.especialidades__description {
  margin-bottom: 75px;
}

//Implantodontia
.implantodontia__lista {
  li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 35px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background: url("../images/check.svg") no-repeat;
      background-size: cover;
    }
  }
}

//Contato
.contato__description {
  margin-bottom: 75px;
}

.mapa {
  margin: 50px 0;
}

.contato-informacoes {
  img {
    width: 100px;
    display: block;
    margin: 0 auto 25px auto;
  }

  h6 {
    margin-top: 25px;
    font-family: $text-bold;
    font-size: 18px;
  }
}