//Sobre
.sobre__galeria {
  img {
    margin-bottom: 30px;
  }
}

.sobre__description {
  margin-bottom: 75px;

  h6 {
    font-size: 18px;
    font-family: $text-bold;
  }
}

//Especialidades
.especialidades__description {
  margin-bottom: 75px;
}

//Estetica
.estetica__descricao {
  margin-bottom: 25px;

  img {
    @media(max-width: 991px){}
    margin-bottom: 25px;
  }
}

.estetica__detalhes {
  margin-top: 50px;

  img {
    @media(max-width: 991px){}
    margin-bottom: 25px;
  }
}

//Implantodontia
.implantodontia__descricao {
  margin-bottom: 35px;
}

.implantodontia__descricao__imagens {
  text-align: center;

  @media(max-width: 575px){
    margin-bottom: 25px;
  }
}

.implantodontia__detalhes__enxerto {
  margin-top: 50px;
  margin-bottom: 25px;
}

.implantodontia__detalhes__carga {
  margin-top: 50px;

  img {
    @media(max-width: 991px){}
    margin-bottom: 25px;
  }
}

.implantodontia__lista {
  li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 35px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background: url("../images/check.svg") no-repeat;
      background-size: cover;
    }
  }
}

//Ortodontia
.ortodontia__descricao {
  margin-bottom: 35px;

  img {
    @media(max-width: 991px){}
      margin-bottom: 25px;
  }
}

.ortodontia__detalhes__como-saber {
  margin-top: 50px;
  margin-bottom: 25px;

  img {
    margin-bottom: 25px;
  }
}

.ortodontia__detalhes__como-funciona {
  margin-top: 50px;

  img {
    @media(max-width: 991px){}
    margin-bottom: 25px;
  }
}

.ortodontia__orto_detalhes {
  p {
    font-size: 16px;
  }
}

//Prevenção
.prevencao__descricao {
  margin-bottom: 25px;
}

.prevencao__detalhes {
  margin-top: 50px;
  margin-bottom: 25px;

  img {
    margin-bottom: 25px;
  }

  img {
    @media(max-width: 991px){
      margin-bottom: 25px;
    }


    &:first-child {
      @media(max-width: 991px){}
        margin-top: 25px;
    }
  }
}

.prevencao__detalhes__vantagens {
  margin-top: 50px;
  margin-bottom: 25px;
}

.prevencao__detalhes__protetor {
  margin-top: 50px;
  margin-bottom: 25px;
}

.prevencao__detalhes__placas {
  margin-top: 50px;

  img {
    @media(max-width: 991px){}
    margin-bottom: 25px;
  }
}

//Prótese
.protese__descricao {
  img {
    @media(max-width: 991px){}
    margin-bottom: 25px;
  }
}

//Endodontia
.endodontia__descricao {
  margin-bottom: 25px;
}

.endodontia__detalhes {
  margin-top: 50px;
  margin-bottom: 25px;
}

.endodontia__detalhes__casos-comuns {
  margin-top: 50px;
}

.endodontia__infografico {
  clear: both;

  @media(max-width: 991px){
    text-align: center;

    img {
      margin: auto;
    }
  }

  img {
    @media(max-width: 991px){
      width: 250px;
    }
  }
}

.col-infografico,
.col-sm-infografico,
.col-md-infografico,
.col-lg-infografico {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.col-infografico {
  width: 20%;
  float: left
}

@media(min-width: 768px) {
  .col-sm-infografico {
    width:20%;
    float: left
  }
}

@media(min-width: 992px) {
  .col-md-infografico {
    width:20%;
    float: left
  }
}

@media(min-width: 1200px) {
  .col-lg-infografico {
    width:20%;
    float: left
  }
}

//Contato
.contato__description {
  margin-bottom: 35px;
}

.mapa {
  margin: 50px 0;
}

.contato-informacoes {
  img {
    width: 100px;
    display: block;
    margin: 0 auto 25px auto;
  }

  h6 {
    margin-top: 25px;
    font-family: $text-bold;
    font-size: 18px;
  }
}