.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 58px 0 15px 0;
  background: url("../images/bg.svg") repeat-x top left, $nav-color;
  background-size: 460px;
  z-index: 10;
  box-shadow: 0 8px 8px rgba(0,0,0,.15);

  @media(max-width: 1024px){
    padding-top: 40px;
    background-size: 365px;
  }

  .brand img {
    width: 229px;

    @media(max-width: 1024px){
      width: 200px;
    }
  }
}